@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .responsiveWidth {
    @apply mx-auto w-[94%] sm:w-[88%] md:w-[84%] lg:w-[80%] max-w-[90rem];
  }
}

@layer utilities {
  .font-bricolage {
    font-family: "Bricolage Grotesque", sans-serif;
    font-optical-sizing: auto;
  }
  .font-inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }
}

.testimonial-shadow {
  border: 0.2px solid rgb(128, 125, 125);
  box-shadow: 6px 0px 0px black;
  border-radius: 46px;
}

.custome-scale {
  transform: scale(1.18);
  border: 0.2px solid rgb(128, 125, 125);
  box-shadow: 6px 8px 0px black;
  border-radius: 46px;
  overflow: hidden;
}

.custome-without-scale {
  border-width: 0px;
  background-color: #fafafa;
  border-radius: 46px;
  overflow: hidden;
}
